---
import rice from '../assets/rice.png';
import fertilizer from '../assets/fertilizer.png';
import feed from '../assets/feed.png';
import sugar from '../assets/sugar.png';
import chemicals from '../assets/chemicals.png';
import construction from '../assets/construction.png';
import consumerBehavior from '../assets/consumer-behavior.png';
import retail from '../assets/retail.png';
import petFeeder from '../assets/pet-feeder.png';
import wheatFlour from '../assets/wheat-flour.png';

const features = [
  { title: 'rice', pic: rice },
  { title: 'fertilizer', pic: fertilizer },
  { title: 'feed', pic: feed },
  { title: 'sugar', pic: sugar },
  { title: 'chemicals', pic: chemicals },
  { title: 'construction', pic: construction },
  { title: 'consumer behavior', pic: consumerBehavior },
  { title: 'retail', pic: retail },
  { title: 'pet feeder', pic: petFeeder },
  { title: 'wheat flour', pic: wheatFlour },
];
---

<section id='features' class='section relative dark:bg-gray-800/50 border-2'>
  <div class='absolute inset-0 z-0 opacity-30'>
    <div class='absolute inset-0 bg-grid-pattern'></div>
  </div>
  <div class='container-custom'>
    <div class='text-center max-w-3xl mx-auto mb-16'>
      <h2 class='mb-5 text-gray-900 dark:text-white'>Our Customer Segments</h2>
    </div>
    <div class='grid md:grid-cols-3 lg:grid-cols-5 gap-10'>
      {
        features.map((feature, index) => (
          <div class='feature-card group perspective h-[200px]'>
            <div class='relative h-full  cursor-pointer '>
              <div class='absolute inset-0 backface-hidden'>
                <div class=' p-6 md:p-8 h-full flex flex-col items-center justify-center text-center'>
                  <img src={feature.pic.src} alt='' />
                  <h3 class=' capitalize text-xl font-semibold mb-3 text-gray-900 dark:text-white'>
                    {feature.title}
                  </h3>
                </div>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
