---
import EmblaCarousel from './EmblaCarousel.astro';
---

<section
  id='products'
  class='py-16 bg-gradient-to-r from-red-200 to-blue-200 dark:bg-gray-800'
>
  <div class='container-custom relative'>
    <!-- Navigation buttons outside the swiper -->
    <div
      class='swiper-button-prev absolute top-[50px] left-0 pr-20 z-10 cursor-pointer'
    >
    </div>
    <div
      class='swiper-button-next absolute top-[50px] right-0 pl-20 z-10 cursor-pointer'
    >
    </div>

    <div class='text-center mb-16'>
      <h2 class='text-3xl font-bold text-blue-900 dark:text-white mb-4'>
        Our Products
      </h2>
      <p class='text-xl text-gray-600 dark:text-gray-300 max-w-3xl mx-auto'>
        Brew perfection with intelligent precision—automated strength control,
        temperature adjustment, and seamless activation create a morning
        routine.
      </p>
    </div>

    <!-- Slider main container -->
    <!-- <ProductsSlider /> -->
    <EmblaCarousel />
  </div>
</section>
