---
import ProductsSlider from '../components/ProductsSlider.astro';
---

<section
  id='products'
  class='py-16 bg-gradient-to-r from-red-200 to-blue-200 dark:bg-gray-800'
>
  <div class='container-custom'>
    <div class='text-center mb-16'>
      <h2 class='text-3xl font-bold text-gray-900 dark:text-white mb-4'>
        Our Products
      </h2>
      <p class='text-xl text-gray-600 dark:text-gray-300 max-w-3xl mx-auto'>
        Sassify integrates with over 50 popular tools and services to help you
        create seamless workflows and maximize productivity.
      </p>
    </div>
    <!-- Slider main container -->
    <ProductsSlider />
  </div>
</section>
